html,
body {
	margin: 0;
	padding: 0;
}

/* 

Header

*/
header {
	display: grid;
	height: 100px;
	grid-template-columns: 20% 50% 30%;
	justify-content: center;
	align-content: center;

	background-color: #5f524f;
	padding: 20px;
}

#logo {
	border: 1px solid #fff;
	padding: 10px;
	width: 50%;
}

#slogan {
	color: #fff;
	font-weight: normal;
	font-size: 1.5em;
	font-family: "EB Garamond", serif;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	text-transform: uppercase;
	text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
	padding-top: 0.1em;
}

#slogan::before,
#slogan::after {
	content: "ยง";
	display: inline-block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	opacity: 0.2;
	margin: 0 0.5em;
	font-size: 1em;
}

#search form {
	float: right;
	margin-top: 14px;
	position: relative;
	width: 170px;
	height: 40%;
}

#search form input {
	padding: 6px;
	position: absolute;
	right: 0px;
	top: 12px;
}

#search form i {
	position: absolute;
	right: 2px;
	top: 16px;
	color: green;
}

#login {
	position: absolute;
	right: 25px;
	top: -80px;
}

#login ul {
	font-size: 60px;
}

#login li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

#login #form1 {
	border: 1px solid black;
	background-color: white;
	z-index: 1;
	position: absolute;
	top: 130px;
	right: 5px;

	width: 350px;
	height: 200px;

	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#login form {
	margin: 0 auto;
	width: 250px;
	text-align: center;
}

#login form input[type="text"],
#login form input[type="password"] {
	background-color: blanchedalmond;
	border-radius: 10px;
	width: 250px;
	height: 40px;
	margin: 5px;
}

#login form button {
	width: 230px;
	height: 40px;
	border-radius: 20px;
	background-color: greenyellow;
}

#login a {
	color: white;
}

/* 

    Navigation bar

*/

nav {
    border: 1px solid #ccc;
}

nav ul {
    /* allow centering to work*/
    display: table;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    height: 10px;
    padding: 10px;
}

/* 

    Main content & Side bar

*/
#main {
    display: grid;
    grid-template-columns: 75% auto;
    grid-column-gap: 10px;
    min-height: 500px;
}

#main-content, #sidebar {
    padding: 5px 20px;
    border: 1px solid;
}

#sidebar ul li {
    padding: 10px 0;
}

.form-register {
	margin: 5px;
}

.form-register label {
	font-weight: bold;
	display: flex;
	margin-bottom: 5px;
}

.form-register input {
	line-height: 30px;
	height: 30px;
	border: #ccc 1px solid;
	margin: 0px;
	padding: 0px 5px;
	width: 300px;
}

/* 

    Footer

*/
footer {
    background-color: #5F524F;
    padding: 20px;

    display: grid;
    grid-template-columns: auto 75%;
}

#scroll {
    width: 40px;
    height: 40px;

    position: fixed;
    right: 30px;
    bottom: 30px;

    background-color: rgba(2, 129, 1, 0.85);
    text-align: center;
}

#scroll a { color: #fff; }
#scroll i { margin-top: 8px; }
